RewriteEngine On
RewriteBase /kp_tvri/
Options +FollowSymLinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^admin$ admin.php
RewriteRule ^beranda_admin$ admin.php?t_admin=beranda_admin
RewriteRule ^dataBeritaNaskah$ admin.php?t_admin=dataBeritaNaskah
RewriteRule ^dataBeritaRundown$ admin.php?t_admin=dataBeritaRundown
RewriteRule ^dataBeritaLead$ admin.php?t_admin=dataBeritaLead
RewriteRule ^user$ admin.php?t_admin=user
RewriteRule ^formatTimredaksi_admin$ admin.php?t_admin=formatTimredaksi_admin
RewriteRule ^naskahDefault_admin$ admin.php?t_admin=naskahDefault_admin
RewriteRule ^kategori_admin$ admin.php?t_admin=kategori_admin
RewriteRule ^cu_admin$ admin.php?t_admin=cu_admin
RewriteRule ^sumber_admin$ admin.php?t_admin=sumber_admin
RewriteRule ^buatpaket_adm$ admin.php?t_admin=buatpaket_adm
RewriteRule ^dataBeritaNaskah_admin$ admin.php?t_admin=dataBeritaNaskah_admin

RewriteRule ^reporter$ reporter.php
RewriteRule ^beranda_reporter$ reporter.php?t_reporter=beranda_reporter
RewriteRule ^buatNaskahGhi$ reporter.php?t_reporter=buatNaskahGhi
RewriteRule ^buatNaskahGns$ reporter.php?t_reporter=buatNaskahGns
RewriteRule ^buatNaskahHabari$ reporter.php?t_reporter=buatNaskahHabari
RewriteRule ^buatNaskahSulampa$ reporter.php?t_reporter=buatNaskahSulampa
RewriteRule ^buatNaskahDialog$ reporter.php?t_reporter=buatNaskahDialog
RewriteRule ^dataBeritaNaskah_reporter$ reporter.php?t_reporter=dataBeritaNaskah_reporter
RewriteRule ^dataBeritaRundown_reporter$ reporter.php?t_reporter=dataBeritaRundown_reporter
RewriteRule ^dataBeritaLead_reporter$ reporter.php?t_reporter=dataBeritaLead_reporter
RewriteRule ^refghi/([0-9]+)$ reporter.php?t_reporter=refghi&id=$1 [NC,L]
RewriteRule ^ref_sulampa/([0-9]+)$ reporter.php?t_reporter=ref_sulampa&id=$1 [NC,L]
RewriteRule ^refgns/([0-9]+)$ reporter.php?t_reporter=refgns&id=$1 [NC,L]
RewriteRule ^ref_habari/([0-9]+)$ reporter.php?t_reporter=ref_habari&id=$1 [NC,L]
RewriteRule ^editghi/([0-9]+)$ reporter.php?t_reporter=editghi&id=$1 [NC,L]
RewriteRule ^editgns/([0-9]+)$ reporter.php?t_reporter=editgns&id=$1 [NC,L]
RewriteRule ^edithabari/([0-9]+)$ reporter.php?t_reporter=edithabari&id=$1 [NC,L]
RewriteRule ^editsulampa/([0-9]+)$ reporter.php?t_reporter=editsulampa&id=$1 [NC,L]
RewriteRule ^editdialog/([0-9]+)$ reporter.php?t_reporter=editdialog&id=$1 [NC,L]
RewriteRule ^buatpaket_rep$ reporter.php?t_reporter=buatpaket_rep


RewriteRule ^editor$ editor.php
RewriteRule ^beranda_editor$ editor.php?t_editor=beranda_editor
RewriteRule ^dataBeritaNaskah_editor$ editor.php?t_editor=dataBeritaNaskah_editor
RewriteRule ^buatpaket_editor$ editor.php?t_editor=buatpaket_editor


RewriteRule ^eic$ eic.php
RewriteRule ^beranda_eic$ eic.php?t_eic=beranda_eic
RewriteRule ^dataBeritaNaskah_eic$ eic.php?t_eic=dataBeritaNaskah_eic
RewriteRule ^editghi_eic/([0-9]+)$ eic.php?t_eic=editghi&id=$1 [NC,L]
RewriteRule ^editgns_eic/([0-9]+)$ eic.php?t_eic=editgns&id=$1 [NC,L]
RewriteRule ^edithabari_eic/([0-9]+)$ eic.php?t_eic=edithabari&id=$1 [NC,L]
RewriteRule ^editsulampa_eic/([0-9]+)$ eic.php?t_eic=editsulampa&id=$1 [NC,L]
RewriteRule ^editdialog_eic/([0-9]+)$ eic.php?t_eic=editdialog&id=$1 [NC,L]
RewriteRule ^buatpaket_eic$ eic.php?t_eic=buatpaket_eic

RewriteRule ^user$ user.php
RewriteRule ^beranda_user$ user.php?t_user=beranda_user
RewriteRule ^dataBeritaNaskah_user$ user.php?t_user=dataBeritaNaskah_user
RewriteRule ^buatpaket_user$ user.php?t_user=buatpaket_user

<IfModule mod_headers.c>
Header set X-XSS-Protection "1; mode=block"
</IfModule>

<Files env.php>
deny from all
</Files>
Options All -Indexes
